<html>
<head>
    <title>ToDo</title>
    <link rel="stylesheet" href="/bower_components/materialize/dist/css/materialize.min.css"/>
    <link rel="stylesheet" href="css/styles.css"/>
    <link href="https://fonts.googleapis.com/css?family=Spectral" rel="stylesheet">
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/materialize/dist/js/materialize.min.js"></script>
</head>
<body>