<html>
<head>
    <title>ToDo</title>
    <link rel="stylesheet" href="/bower_components/materialize/dist/css/materialize.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css"/>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/materialize/dist/js/materialize.min.js"></script>
    <script src="/js/client.js"></script>
</head>
<body>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper light-blue">
            <a href="#!" class="brand-logo"><i class="material-icons">store</i> Webstore</a></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <% if (isLoggedIn) { %>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/account">Account</a></li>
                <li><a href="/auth/logout">Logout</a></li>
                <% } %>
                <% if (isAdmin) { %>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/account">Customers</a></li>
                <li><a href="/admin/orders">Orders</a></li>
                <li><a href="/auth/logout">Logout</a></li>
                <% } %>
                <% if (!isLoggedIn && !isAdmin) { %>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/auth/login">Login</a></li>
                <% } %>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <% if (isLoggedIn) { %>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/account">Account</a></li>
                <li><a href="/auth/logout">Logout</a></li>
                <% } %>
                <% if (isAdmin) { %>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/account">Customers</a></li>
                <li><a href="/admin/orders">Orders</a></li>
                <li><a href="/auth/logout">Logout</a></li>
                <% } %>
                <% if (!isLoggedIn && !isAdmin) { %>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/auth/login">Login</a></li>
                <% } %>
            </ul>
        </div>
    </nav>
</div>