html, body, h1, h2, h3, h4, h5 {
}

.center {
    text-align: center;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100vh;
}

.no-padding {
    padding: 0px;
}

.no-margin {
    margin: 0px;
}

.input-box {
    margin-bottom: 100px;
}

.home-fix {
    margin-top: -15px;
}

/* override */
#sidenav-overlay {
    z-index: auto;
}

